@import 'global.scss';


.title{
  height: 666px;

  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;


  background-image: url(../../assets/weathly.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;

  color: white;
  h2{
    font-size: 50px;
    margin: 0px 0px 0px 6.9%;
    font-family: 'Rubik';
  }
  h6{
    margin: 0px 0px 0px 6.9%;
  }
}

.body{
  height: 666px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  p{
    margin: 5px 0px 5px 0px;
  }
}

.landing-img{
  width: 100%;
  position: absolute;
}
